.body {
	margin: 0;

}

.content {
		background-image: url('file:///F:/symbiosis/wnm/login-page/background.jpg');
	  /* The image used */

  /* Full height */
 	height: 100%; 

  /* Center and scale the image nicely */
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: stretch;
}

.login-div {
	position: absolute;
	top: 10%;
	max-width: 40%;
	min-height: 60%;
	background-color: #FF00FF;
	-webkit-box-shadow: -2px 4px 35px 0px rgba(237,35,237,1);
-moz-box-shadow: -2px 4px 35px 0px rgba(237,35,237,1);
box-shadow: -2px 4px 35px 0px rgba(237,35,237,1);

}

.login-div > .card, .card-body, .card-title {

	background-color: #FF00FF;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	overflow-wrap: normal;

}